<%- include('./partials/head') %>

<article> 

  <div class="card">
    <img src="<%= member.avatar %>" alt="Foto van Wesley">
    <div>
      <h1><%= member.name %> <%= member.surname %></h1>
      <p>"<%= member.bio.html %>"</p>
    </div>
    <div>
    <div class="social-links">
      <a class="mail-button" href="mailto:wesleyschorel@gmail.com?SUBJECT=Hoi, Wesley!&body=Ik heb je visitekaartje gezien!"><i class="fa fa-envelope"></i> Stuur een e-mail</a>
      <a class="mail-button"  href="https://twitter.com/intent/tweet?text=Neem%20een%20kijkje%20op%20het%20visitekaartje%20van%20de%20Frontender%20Wesley%20Schorel."><i class="fa fa-twitter"></i></a>
    </div>
  </div>

</article>

<div id="background-wrap">
  <div class="x1">
    <div class="cloud"></div>
  </div>

  <div class="x2">
    <div class="cloud"></div>
  </div>

  <div class="x3">
    <div class="cloud"></div>
  </div>

  <div class="x4">
    <div class="cloud"></div>
  </div>

  <div class="x5">
    <div class="cloud"></div>
  </div>
</div>

<%- include('./partials/foot') %>
